<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <contextName>im-server-rest</contextName>
    <!-- log_root_dir order: CATALINA_BASE -> CATALINA_HOME -> ..(parent dir) -->
    <!-- <property name="MANAGER_LOG_ROOT_DIR" value="${CATALINA_BASE:-${CATALINA_HOME:-..}}" /> -->
    <!--<property name="LOG_ROOT_DIR" value=".."/>
    <property name="CUR_PROJECT" value="zom-manager"/>-->
    <springProfile name="dev">
        <property name="LOG_PATH" value="../logs-all/tech-action/im-rest/im-server-rest"/>
    </springProfile>
    <springProfile name="prod">
        <property name="LOG_PATH" value="../logs-all/tech-action/im-rest/im-server-rest"/>
    </springProfile>

    <!-- 彩色日志依赖的渲染类 ColorConverter也是用的ansi -->
    <!--<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />-->
    <!-- 彩色日志格式 -->
    <!--<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>-->


    <!-- <withJansi>true</withJansi> %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %caller{1..2} %highlight(%-5level) %magenta(%logger) - %cyan(%msg)%n -->

    <!-- 其他配置省略 -->
    <appender name="appender_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight( %-5level): %cyan( %msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
            <!--<onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <!-- 一般信息按照每天生成日志文件 -->
    <appender name="appender_rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天一归档 -->
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- 单个日志文件最多100MB, 30天的日志周期，最大不能超过20GB -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight( %-5level): %cyan( %msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
    </appender>

    <appender name="appender_err_rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.err.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.err.log.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %highlight( %-5level): %cyan( %msg) &lt;&lt;&lt; [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
            <!--<onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <appender name="appender_domain_rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}.domain.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.domain.log.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>~%date{yyyy-MM-dd HH:mm:ss}  %cyan(&gt;&gt;&gt; %msg &lt;&lt;&lt;)  [%thread] %replace(%caller{1..2}){'\s*Caller\+1\s*', ''}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>
    <!--<logger name="com.mysql" level="DEBUG"/>
    <logger name="org.apache.ibatis" level="DEBUG"/>-->

    <!-- airson project default level -->
    <logger name="cc.airson" additivity="false" level="TRACE">
        <appender-ref ref="appender_console"/>
        <appender-ref ref="appender_rollingFile"/>
        <appender-ref ref="appender_err_rollingFile"/>
        <appender-ref ref="appender_domain_rollingFile"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="appender_console"/>
        <appender-ref ref="appender_rollingFile"/>
    </root>

</configuration>